# smieci
.vscode/
env/
__pycache__/
.pytest_cache/
testtest*.py
.eggs
*.egg-info
cProfile_log.txt
cProfile_log
*.jpg
*.json
!slowo_na_dzis.json
docs/.ipynb_checkpoints/

.history

# w ten plik wlozylbys klucze do api twittera dla lokalnych testow
config_secret.py

# static\ffmpeg.exe, static\chromedriver.exe tylko dla developmentu
*.exe
